<body class="signup">
  <main class="gateway">
    <h1>Sign up</h1>

    <%= form_for @user do |f| %>
    <%= f.text_field :email, placeholder: "email" %>
    <br/>
    <%= f.password_field :password, placeholder: "password" %>
    <br/>
    <%= f.password_field :password_confirmation, placeholder: "confirm password"%>
    <br/>
    <%= f.text_field :first_name, placeholder: "First Name" %>
    <br/>
    <%= f.text_field :last_name, placeholder: "Last Name" %>
    <br/>
    <%= f.telephone_field(:phone_number) %>
    <br/>
    <!-- <p><%= notice %></p> -->
    <center><%= f.submit "Sign up" , :class => "buttonnew"%></center>

    <% end %>
  </main>
</body>